@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <li><a href="https://localhost:7139/Customers">Câu 1 : Customer</a></li>
          <li><a href="https://localhost:7139/Part">Câu 2 : Part</a></li>
          <li><a href="https://localhost:7139/Sales">Câu 3 : Sale</a></li>
</div>
